
/* index.css */

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  -webkit-tap-highlight-color: transparent;
  -webkit-focus-ring-color: rgba(255, 255, 255, 0) !important;
  outline: none !important; 
}

html { height: 100%; overflow: hidden; }
body {
  font-family: 'Roboto', sans-serif;
  background: #fff;
  margin: 0px;
  padding: 0px;
  width: 100%;
  height: 100%;
  display: block; 
}

a { display: block; text-decoration: none; }
ul { margin: 0; padding: 0; }
figure { margin: 0; }

.hide { display: none }

.noselect {
    cursor: default;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

@font-face {
  font-family: 'BeyondMountains';
  font-style: normal;
  font-weight: 400;
  src: local('BeyondMountains'), local('BeyondMountains'), url("../fonts/BeyondMountains.otf") format('opentype');
}

/* app containers */

.header {
  width: 100%;
  height: 70px;
  position: relative;
}

.logo {
  position: absolute;
  left: 40px;
  font-size: 32px;
  letter-spacing: -1px;
  top: 17px;
  font-weight: bold;
  font-family: Arial, helvetica, sans-serif;
}

.videoThumb {
  width: 360px;
  display: inline-block;
  /*margin: 4px;*/
  position: relative;
  cursor: pointer;
}

.videoThumb figure {
  width: 33%;
  overflow: hidden;
  display: inline-block;
  vertical-align: top;
}

.videoThumb figure img {
  width: 100%;
}

.videoThumbInfo {
  display: inline-block;
  padding: 25px 24px 15px;
  vertical-align: top;
  position: absolute;
  bottom: 0;
  background: rgba(0,0,0,0.4);
  color: #fff
}

.videoThumbInfo h3 {
  margin: 0;
  font-size: 36px;
  letter-spacing: -2px;
}

.videoThumbInfo p {
  font-size: 16px;
}

.videoPlayerWrapper {
  width: 100%;
  height: 100%;
  background: #000;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
}

.videoPlayerWrapper .video-js {
  width: 100%;
  height: 100%;
  margin-left: 0%;
}

.closePlayer {
  color: #fff;
  font-size: 36px;
  position: absolute;
  top: 15px;
  right: 20px;
  z-index: 3;
}

.titleWrapper {
  color: #fff;
  padding: 20px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 3;
}

.titleWrapper h2 {
  margin: 0;
  font-size: 24px;
  letter-spacing: -2px;
}

.titleWrapper p {
  margin: 0;
  font-size: 14px;
}

button.btn {
  border: 0;
  background: #00cbff;
  border-radius: 5px;
  padding: 12px 20px;
  font-size: 14px;
  letter-spacing: -1px;
  color: #fff;
  cursor: pointer;
}

button.btn.showHistory {
  padding: 12px 30px 12px 20px;
  position: absolute;
  top: 14px;
  left: 120px;
}

button.btn.showHistory i.hide {
  opacity: 0;
}

button.btn i {
  margin-right: 9px;
}

.btn-next, .btn-prev {
  color: #fff;
  font-size: 50px !important;
  position: absolute;
  top: 210px;
  z-index: 4;
}

.btn-next {
  right: 0;
}

.swiper-wrapper {
  height: 480px !important;
}

.fileUploadWrapper > div {
    width: 80% !important;
    margin: 0 auto;
}

.fileUploadWrapper {
    width: 100%;
    text-align: center;
    margin-top: 40px;
}